<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="movieModalLabel">Movie Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modal-poster" src="" alt="Movie Poster" class="img-fluid mb-3">
                <p id="modal-overview">Overview will be displayed here.</p>
                <p><strong>Release Date:</strong> <span id="modal-release-date"></span></p>
                <p><strong>Rating:</strong> <span id="modal-rating"></span></p>
            </div>
        </div>
    </div>
</div>
