<div class="search-container">
    <input type="text" id="movie-search" class="search-input" placeholder="Search for a movie..." autocomplete="off">
    <div id="search-results" class="search-results"></div>
</div>