.search-results div:hover {
    background-color: #f0f0f0;
}

.search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Hidden by default */
}
.search-results div {
    padding: 10px;
    cursor: pointer;
}
.search-results div:hover {
    background-color: #f0f0f0;
}

/* Modal styles */
.modal {
    display: none; /* Masquer par défaut */
    position: fixed; /* Rester au même endroit */
    z-index: 1; /* Au-dessus de tout le contenu */
    left: 0;
    top: 0;
    width: 100%; /* Plein écran */
    height: 100%; /* Plein écran */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond noire */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond noire avec transparence */
}

.modal-content {
    background-color: #fefefe; /* Couleur de fond blanche */
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px; /* Espacement interne */
    border: 1px solid #888; /* Bordure */
    width: 80%; /* Largeur du modal */
}

.close {
    color: #aaa; /* Couleur du 'x' */
    float: right; /* Alignement à droite */
    font-size: 28px; /* Taille de police */
    font-weight: bold; /* Gras */
}

.close:hover,
.close:focus {
    color: black; /* Couleur au survol */
    text-decoration: none; /* Pas de soulignement */
    cursor: pointer; /* Changer le curseur */
}