.search-results div:hover {
    background-color: #f0f0f0;
}

.search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Hidden by default */
}
.search-results div {
    padding: 10px;
    cursor: pointer;
}
.search-results div:hover {
    background-color: #f0f0f0;
}

