<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}A propos de We movies{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}
       {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>

    <div class="container">
        <section>
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer>
        {% block footer %}
        <p>&copy; 2024 Cinema Project</p>
        {% endblock %}
    </footer>

    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
